html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
#4d375c,
#8c416e,
#cb4c67,
#f56c49,
#ffa10a
*/
:root {
  --main-bg-color-200: #bbf8ed;
  --main-bg-color-500: #46e8cd;
  --main-bg-color-800: #10342e;
  --main-text-color-200: #bbf8ed;
  /* --main-text-color-500: #46e8cd; */
  --main-text-color-800: #10342e;
}

body {
  margin: 0;
  padding: 0;
  /* min-height: 100vh; */
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color-800);
  color: var(--main-text-color-200);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
}
