html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
#4d375c,
#8c416e,
#cb4c67,
#f56c49,
#ffa10a
*/
:root {
  --main-bg-color: #4d375c;
  --main-text-color-200: #e4d8ec;
  --main-text-color-500: #8d6ca4;
  --main-text-color-800: #2b1937;
}

body {
  margin: 0;
  padding: 0;
  /* min-height: 100vh; */
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4d375c;
  background-color: var(--main-bg-color);
  color: #f1efed;
  color: var(--main-text-color-200);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
